# Vite
.vite/
dist/
dist-ssr/

# Dependencies
node_modules/
.npm

# Environment
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.dbs_store/